<div class="container">


  <div class="jumbotron">
    <h1> <%= @user.user_name  if @user %>'s Map </h1>
<h2> Choose a destination </h2>
  <h3> <%= link_to 'Arena', monsters_path %> </h3>
  </div>
</div>
